<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>List of Clients</h1>
    <table *ngIf="tableMode; else create" class="table table-striped">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Address</td>
                <td>Phone Numbers</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <ng-template [ngIf]="client?.id != c.id" [ngIfElse]="edit">
                    <td>{{c?.firstname}}</td>
                    <td>{{c?.lastname}}</td>
                    <td>{{c?.address}}</td>
                    <td>{{c?.phonenumber}}</td>
                    <td *ngFor="let t of c.clienttasks">
                        <p>{{t.taskname}}</p>
                        <p>{{t.description}}</p>
                        <p>{{t.clientaddress}}</p>
                        <p>{{t.starttime}}</p>
                        <p>{{t.endtime}}</p>

                        <button class="btn btn-sm btn-danger" (click)="delete(t)">Delete</button>
                    </td>                    
                </ng-template>
            </tr>
        </tbody>
    </table>

</body>
</html>